# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
*.egg-info/

# Data files
data/raw/
*.csv
*.parquet

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db 

# Allow sample data for demo
!sample_data/github_events_sample.csv